*, ::before, ::after {
    xbackground: #fff !important;
    xcolor: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
}

html {
    --width:auto;
    --color-bg:#fff;
    --color-text:#000;
    /*font-size:12pt; ?? */
}


header ,
footer ,
sidebar {
    display: none;
}

a:link:after {
    content: " (" attr(href) ") ";
    font-size:.9em;
}
a[href^="#"]:after,
a[href^="javascript:"]:after {
    content: "";
}

a:link {
    text-decoration: underline;
}